[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
flake8 = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
pytest-mypy = "*"
pytest-xdist = "*"
sphinx = "*"
sphinx-rtd-theme = "*"

[packages]
alembic = "*"
click = "*"
colorama = "*"
email-validator = "*"
emails = "*"
fastapi = "*"
orjson = "*"
passlib = {extras = ["bcrypt"],version = "*"}
pydantic = "*"
pyjwt = "*"
python-dotenv = "*"
python-multipart = "*"
sqlalchemy = "*"
tenacity = "*"
uvicorn = "*"

[requires]
python_version = "3.7"

